@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}

h1 {
    font-weight: 400;
    font-size: 3rem;
}

html {
    scroll-behavior: smooth;
}

#Presentation {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

#Presentation img {
    max-width: 300px;
}

h6,
h3,
#footer_nav {
    color: rgba(0, 0, 0, 0.65);
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
}

.skill-list li {
    background-color: #F8F9FA;
    border: none;
}

.skill-project {
    display: flex;
    flex-wrap: wrap;
}